/*JUMBOTRON*/
.jumbotron {
	background-image:url("../../jumboImage/Picture3.png");
	background-color: #546e7acc;
	background-blend-mode: lighten;
	box-shadow: inset 0px 0px 14px 4px #161617cc;
	margin-bottom: 0px;
	text-align: center;
	padding: 3rem 2rem;
}
h1 {
	line-height: 3.5rem;
	font-family: 'Cinzel' 	;
	font-weight: 900;
	text-shadow: 2px 5px 10px #181c1f;
	font-size: 3.5rem;
}